*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  min-width: 375px;
  background: #ffffff;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* СТИЛИ HEADER */

header {
  padding: 20px 0;
  box-shadow: 0px 1px 3px 0px #0b0c0d29;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 110px;
  height: 24px;
}

.img-notes {
  width: 24px;
  height: 24px;
}

.counter-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.text-counter {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

span {
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}

/* СТИЛИ MAIN */


input[type="checkbox"] {
  appearance: none;
  background: url(./assets/images/checkbox\ inactive.svg) no-repeat;
  cursor: pointer;
}

.new-notes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 800px;
}

form {
  width: 1152px px;
  height: 228px px;
  top: 84px;
  left: 64px;
  padding: 24px 0px 0px 0px;
  gap: 12px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;

  /* box-shadow: 0px 8px 12px 0px #0B0C0D14; */

  box-shadow: 0px 16px 24px 0px #0b0c0d0a;

  /* box-shadow: 0px 1px 2px 0px #0B0C0D14; */
}

.wrapper-add_notes {
  display: flex;
  align-items: stretch;
}

.wrapper-description {
  display: flex;
  flex-direction: column;
}

.wrapper-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

fieldset {
  all: unset;
  margin: 20px 0;
}

legend {
  all: unset;
}

input {
  border: solid 1px;
  border-radius: 5px;
}

ul {
  list-style: none;
  cursor: pointer;
}

.radio-list {
  display: flex;
  gap: 14px;
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background-color: #a895a2;
  cursor: pointer;
  width: 230px;
  height: 36px;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

button:hover {
  transform: translateY(-5px);
}

.radio {
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: green;
}

.radio[value="red"] {
  background-color: #f37d7d;
}

.radio[value="green"] {
  background-color: #c2f37d;
}

.radio[value="blue"] {
  background-color: #7de1f3;
}

.radio[value="yellow"] {
  background-color: #f3db7d;
}

.radio[value="purple"] {
  background-color: #e77df3;
}

.radio:checked {
  border-color: white;
  box-shadow: 0 0 0 3px white,
    /* Внутренняя обводка для создания промежутка */ 0 0 0 4.5px #007bff; /* Внешняя обводка */
}

.wrapper-checkbox {
  display: flex;
  margin: 20px 0;
}
