:root {
  --note-color1: #F3DB7D;
  --note-color2: #C2F37D;
  --note-color3: #7DE1F3;
  --note-color4: #F37D7D;
  --note-color5: #E77DF3;
  --btn-color:  #457CDC;
  --message-done-color: #47B27D;
  --message-error-color: #F23D5B;
  --text-color: #000000;
  --text-form-color: #919191;
  --background-color: #FFFFFF;
  --background-main-base-color: #FAFAFC;
  --border-color: #E8E8E8;
  --radio-checked-color-ext: #007BFF;
  --radio-checked-int: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 100vh;
  min-width: 375px;
  background: var(--background-color);
  color: var(--text-color);
  display: block;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}

/* СТИЛИ HEADER */

header {
  padding: 18px 0;
  box-shadow: 0px 1px 3px 0px #0b0c0d29;
  margin-bottom: 24px;
  font-size: 16px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 110px;
  height: 24px;
}

.img-notes {
  width: 24px;
  height: 24px;
}

.counter-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.text-counter {
  font-weight: 500;
}

span {
  font-weight: 700;
  padding-left: 10px;
}

/* СТИЛИ MAIN */

form {
  width: 1152px;
  font-size: 12px;
  padding: 10px;
  gap: 12px;
  border-radius: 4px;
  color: var(--text-color-form);
  box-shadow: 0px 8px 12px 0px #0B0C0D14, 0px 16px 24px 0px #0b0c0d0a;
}

fieldset {
  all: unset;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

/* legend {
  all: unset;
} */

.title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

input[type="text"], textarea {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 344px;
  padding: 6px 12px;
}

textarea[class="description-text"] {
  width: 100%;
  min-height: 84px;
  resize: none;
}

::placeholder {
  font-size: 14px;
}

.description-wrapper {
  display: flex;
}

.form-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 24px;
}

.wrapper-items {
  display: flex;
  flex-direction: column;
} 

.radio-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 12px;
}

.radio-list > li {
  width: 36px;
  height: 36px;
  flex-grow: 1;
}

.radio {
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.radio[value="yellow"] {
  background-color: var(--note-color1);
}
 
.radio[value="green"] {
  background-color: var(--note-color2);
}
 
.radio[value="blue"] {
  background-color: var(--note-color3);
}

.radio[value="red"] {
  background-color: var(--note-color4);
}
 
.radio[value="purple"] {
  background-color: var(--note-color5);
}

.radio:checked {
  border-color: var(--radio-checked-int);
  box-shadow: 0 0 0 3px var(--radio-checked-int), 
  0 0 0 4.5px var(--radio-checked-color-ext); 
}

button {
  border: none;
  background-color: var(--btn-color);
  padding: 6px auto;
  cursor: pointer;
  width: 230px;
  height: 36px;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 16px;
  font-weight: 500;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

button:hover {
  transform: translateY(-5px);
}

.wrapper-checkbox {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin: 24px 0 12px;
  font-size: 12px;
} 

input[type="checkbox"] {
  appearance: none;
  background: url(./assets/images/checkbox\ inactive.svg) no-repeat;
  cursor: pointer;
}

ul {
  list-style: none;
}

li[class="no-notes"] {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}